@import "normalize";

@import "bourbon";
@import "neat";
@import "base";

@import "settings";

body {
  margin: 0;
}

.header {
  @include grid-container;
  background-color: $light-gray;
  padding: 1.5rem 0;

  .header__title {
    @include grid-column(12);
    margin-bottom: 0;
  }
}

.metric {
  @include grid-container;

  .metric__title {
    @include grid-column(12);

    font-size: 2.5rem;
    padding: 1rem 0;
    border-bottom: $base-border;

    small {
      color: $light-gray;
      line-height: 0;
    }
  }

  .metric__stat {
    @include grid-column(4);

    padding: 1rem;
    border: $base-border;
  }

  .metric__stat-value {
    font-size: 2.5rem;
    line-height: 1;
  }

  .metric__stat--primary {
    background-color: $blue;
  }

  .metric__graph {
    @include grid-column(12);

    margin-top: 1rem;
    padding: 1rem;
    border: $base-border;
  }
}

.dataset {
  @include grid-container;

  .dataset__raw-data {
    @include grid-column(12);
  }
}

.footer {
  @include grid-container;

  .footer__content {
    @include grid-column(12);
    margin-top: 1.25rem;
    padding-top: 1rem;
    border-top: $base-border;
  }

  .footer__section {
    @include grid-column(6);
  }
}
