<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kanban Metrics for {{ board_name }}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <style type="text/css">
.content {
  margin: 1rem 0;
}
    </style>
  </head>
  <body>
    <div class="header">
      <h1 class="header__title">{{  board_name }}</h1>
    </div>

    <div class="metric">
      <h2 class="metric__title">Cycle time <small>in average</small></h2>

      <div class="metric__stat metric__stat--primary">
        <h5>This week
          <span class="float-right"> {{ results[0].period }} </span>
        </h5>

        <div class="metric__stat-value" title="{{ (results[0].cycle_time / 24).round(2) }} days">
          {{ results[0].cycle_time.round(2) }} hours
        </div>
      </div>

      <div class="metric__stat">
        <h5>Last 3 weeks</h5>
        <div class="metric__stat-value" title="{{ (results[1].cycle_time / 24).round(2) }} days">
          {{ results[1].cycle_time.round(2) }} hours
        </div>
      </div>

      <div class="metric__stat">
        <h5>Total</h5>
        <div class="metric__stat-value" title="{{ (results[2].cycle_time / 24).round(2) }} days">
          {{ results[2].cycle_time.round(2) }} hours
        </div>
      </div>

      <div class="metric__graph">
        <canvas id="cycle_time_trend"></canvas>
      </div>
    </div>

    <div class="metric">
      <h2 class="metric__title">Throughput <small>cards per week</small></h2>

      <div class="metric__stat metric__stat-primary">
        <h5>This week
          <span class="float-right"> {{ results[0].period }} </span>
        </h5>
        <div class="metric__stat-value">
          {{ results[0].throughput.round(2) }} cards
        </div>
      </div>

      <div class="metric__stat">
        <h5>Last 3 weeks</h5>
        <div class="metric__stat-value">
          {{ results[1].throughput.round(2) }} cards
        </div>
      </div>

      <div class="metric__stat">
        <h5>Total</h5>
        <div class="metric__stat-value">
          {{ results[2].throughput.round(2) }} cards
        </div>
      </div>

      <div class="metric__graph">
        <canvas id="throughput_trend"></canvas>
      </div>
    </div>

    <div class="footer">
      <div class="footer__content">
        <div class="footer__section">
          <p>Crafted with <i class="fi-heart"></i> by <a href="http://codingstones.com">The Coding Stones</a></p>
        </div>

        <div class="footer__section">
          <p class="text-right">Generated at: {{ now.strftime("%Y-%m-%d %H:%M") }}</p>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script>
var ctx = document.getElementById("cycle_time_trend");
var cycle_time_trend_chart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ cycle_time_trend.keys() }},
    datasets: [{
      label: 'Average Cycle Time (in hours)',
      data: {{ cycle_time_trend.values() }}
    }, {
      label: 'Average Cycle Time for all time',
      data: {{ [results[2].cycle_time.round(2)] * cycle_time_trend|length }},
      borderColor: "#d7ecfa",
      backgroundColor: "#d7ecfa",
      fill: false,
    }]
  }
});

var ctx = document.getElementById("throughput_trend");
var throughput_trend = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {{ throughput_trend.keys() }},
    datasets: [{
      type: 'bar',
      label: 'Cards moved to done (per week)',
      data: {{ throughput_trend.values() }}
    } , {
      type: 'line',
      label: 'Average Cards moved to done for all time',
      data: {{ [results[2].throughput.round(2)] * throughput_trend|length }},
      borderColor: "#d7ecfa",
      backgroundColor: "#d7ecfa",
      fill: false,
    }
    ]
  }
});
    </script>
  </body>
</html>
